body {
  margin: auto;
  color: white;
  background-color: rgb(4%, 29%, 46%);
}

a, a:visited, a:active {
  color: white;
  font-family: serif;
  text-decoration: underline;
}

a:hover {
  font-style: italic;
  color: white;
}

#over18, #under18 {
  display: none;
}

#overBack, #underBack {
  margin-top: 15px;
}
